#categoryForm div, #form div{
    height: auto;
    padding: 10px 0;
}

#form input[type=text], #form select, #form textarea{
    width: 300px;
}

#form textarea{
    height: 100px;
}

#catlist{

    width: 700px;
}

.dataTable div{
    display: inline-block;
    border: 1px dotted #d3d3d3;
    padding: 5px;
    margin: 3px 0;
    height: 30px;
    line-height: 30px;
}

.dataTable .rowID{
    width: 50px;
    text-align: center;
}

.dataTable .rowName{
    width: 350px;
}

.dataTable .rowEdit, .dataTable .rowDelete{
    width: 70px;
    text-align: center;
}

#cform div{
    padding: 5px;
    margin: 5px;
}